<br>
<br>
<br>
<br>
<h1>🍽 CREATE YOUR OWN RESTAURANT </h1>
<br>
<br>
<br>
<br>
<body>

<div class="container">
  <div class="row">
    <h1>New restaurant : </h1>
  </div>

  <%= render 'form', restaurant: @restaurant %>

</div>


</body>
